@media (max-width: 820px) {
  body {
    max-width: 820px;
  }

  .container {
    nav {
      margin: 0;
      padding: 20px;
      border-bottom: 1px solid $very-light-gray;
      img {
        width: 8%;
      }
    }
  }

  main {
    .hero {
      h1 {
        font-size: 3.75rem;
        margin: 225px 0 225px 0;
      }
    }

    .hero-content {
      .wrapper {
        display: block;

        .card {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
