@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$white: #fff;
$drak-gray: #282b32;
$very-dark-gray: #212328;
$light-gray: #3c3e43;
$very-light-gray: #9e9e9e;
$font-family: "Roboto", sans-serif;
$hover-color: orange;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  overflow-x: hidden;
}

.container {
  background-color: $white;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px 30px 10px;

    img {
      width: 4%;
    }

    ul {
      display: flex;
      gap: 30px;

      li {
        list-style: none;
        font-weight: bold;
        font-size: 20px;

        a {
          text-decoration: none;
          color: black;
        }

        .active {
          color: $hover-color;
        }

        a:active {
          color: #011ffd;
        }

        a:focus {
          color: $hover-color;
        }

        .active:hover {
          color: $hover-color;
          cursor: pointer;
        }
      }
    }
  }
}

main {
  .hero {
    background-color: $white;
    h1 {
      text-align: center;
      font-size: 100px;
      font-weight: 900;
      margin: 150px 20px 80px 20px;
    }
  }

  .hero-content {
    background-color: $drak-gray;
    padding: 4.5rem;

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 1920px;

      .card {
        display: flex;
        margin: 0.75rem;
        justify-content: center;

        img {
          width: 40%;
          border-radius: 10px 0 0 10px;
        }

        .desc {
          width: 60%;
          background-color: $light-gray;
          border-radius: 0 10px 10px 0;
          color: $white;
          padding: 20px;

          h2 {
            font-size: 25px;
          }

          h2:hover {
            color: $hover-color;
            cursor: pointer;
          }

          .para {
            font-size: 20px;
          }

          .para:hover {
            color: $hover-color;
            cursor: pointer;
          }

          .light-gray {
            color: $very-light-gray;
            padding: 20px 0 10px 0;
            font-size: 18px;
          }
        }
      }
    }

    .wrapper > * {
      flex: 1 1 600px;
    }

    nav {
      ul {
        display: flex;

        li {
          list-style: none;
          padding: 0.5rem 0 0 0.7rem;

          button {
            padding: 0.5rem;
            color: $drak-gray;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 100px 0;
  background-color: $very-dark-gray;

  p {
    color: $very-light-gray;
  }

  .my-name {
    color: $white;
    border-bottom: 1px solid $hover-color;
  }

  #currentYear {
    padding-left: 6px;
  }
}

@import "tablet";
@import "mobile";
